<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\Assets\css\customerSignUp.css">
    <title>Sign-Up</title>
</head>
<body>
    <div class="signUpBox">
        <h2 class="greet">Looks like you’re new here.<br>
            We need some info.</h2>
    <form action="../controllers/signUpCheckController.php"" method="post">      
                        <br>
                        <input type="text" name="name" value="" id="fullName" placeholder="Full Name*"><br/>
                        <br>
                        <input type="text" name="userName" value="" id="userName" placeholder="User Name*"><br/>   
                        <br>
                        <input type="text" name="email" value="" id="email" placeholder="Email Address*" ><br/>  
                        <br>
                        <input type="password" name="pass" value="" id="pass" placeholder="Password*"><br/>  
                        <input type="checkbox" name="agreeUpdates" value="agree" checked>
                        <label for="agree">Be the first to hear about new releases, special offers and more.</label>
                        <p>By clicking "Register", you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</p>
                        <input type="submit" name="Register" value="Register">                   
    </form>
</div>
</body>
</html>