/* .button {
    width: 100%;
    height: 3rem;
    padding: 1rem 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.08rem;
    background-color: #fff;
    border: 0.1rem solid #c6c8ca;
    border-radius: 0.2rem;
    caret-color: #131313;
    appearance: none;
    position: relative;

} */